/*Variables*/
/*Maps*/
/*lista*/
* {
  margin: 0;
  padding: 0; }

body {
  font-size: 10px;
  font-family: 'Rubik', sans-serif;
  background-color: #feff75;
  word-spacing: 0px;
  width: 100vw;
  overflow-x: hidden; }

h1 {
  color: #5730a3;
  font-size: 1.3em;
  animation: flipInX 5s; }

.header__logo {
  animation: shakeY 3s; }

.header__logoWs {
  margin-left: 28em; }

h2 {
  font-size: 1.03em;
  color: #60219e; }

h3 {
  font-size: 1em;
  color: #7649a3; }

.tipoLetra {
  font-family: "Roboto Slab", sans-serif; }

p {
  text-align: justify;
  color: #a3307d;
  font-size: 0.85em; }

.navbar {
  background-color: #fff8dc; }
  .navbar ul li {
    padding-left: 2em; }
    .navbar ul li a {
      color: #5730a3;
      font-size: 0.85em; }
      .navbar ul li a:hover {
        color: #a3307d;
        transition: pointer; }

.dropdown-menu {
  font-size: 1em; }

.mapaSitio {
  margin-top: 1em; }

h4 {
  text-align: left;
  margin-left: 2em;
  font-size: 1em; }

footer {
  letter-spacing: 0.2em;
  color: #fff8dc;
  font-size: 0.75em;
  background: radial-gradient(ellipse at bottom, #5a0b49, #feff75); }
  footer li {
    margin-left: 2em;
    text-align: left; }
    footer li a {
      text-decoration: none;
      color: #fff8dc; }
      footer li a:hover {
        color: #5730a3; }

.iconosFooter a {
  display: block;
  width: 30px;
  height: 30px; }

.modal-title {
  display: none; }

.modal-body {
  color: #000;
  text-align: justify;
  font-family: "Roboto Mono", monospace;
  font-size: 0.8em; }

.avisoLegal {
  font-size: 1em; }

.botonOk {
  font-size: 0.8em; }

.table {
  width: 90%;
  font-size: 0.85em;
  color: #5a0b49; }

.card {
  background: linear-gradient(to right, #fff8dc, #e9d527);
  border: transparent; }

.card-text {
  color: #a3307d; }

@media only screen and (min-width: 768px) {
  body {
    word-spacing: 2px;
    font-size: 15px; }
  h1 {
    padding-top: 1em;
    padding-left: 1em;
    letter-spacing: 0.2em; }
  h2 {
    margin-top: 1em; }
  p {
    line-height: 2em;
    margin-top: 1em; }
  .section__videoLegal {
    width: 80%;
    padding-top: 0.8em;
    padding-bottom: 0.8em; }
  .card {
    width: 600px;
    height: 400px;
    margin-top: 3.5em; }
  .header__logo {
    width: 5em;
    height: 6.5em;
    padding-top: 20px; }
  .header__logoWs {
    width: 7em;
    margin-left: 41em; }
  .main__banner {
    padding-bottom: 1em; }
  .fab {
    font-size: 1.3em; }
  .fas {
    font-size: 1.3em; }
  .iconosFooter a {
    width: 45px;
    height: 40px; } }

@media only screen and (min-width: 1024px) {
  body {
    word-spacing: 5px;
    font-size: 20px; }
  h1 {
    padding-top: 1em;
    letter-spacing: 0.2em; }
  p {
    line-height: 2em;
    margin-top: 1em; }
  .section__videoLegal {
    width: 90%;
    padding-top: 1em;
    padding-bottom: 1em; }
  footer {
    letter-spacing: 0.2em; }
  .footer li a {
    letter-spacing: 8px; }
  .card {
    width: 500px;
    height: 600px;
    margin-top: 3.3em; }
  .header__logo {
    padding-top: 0.5em;
    width: 6em;
    height: 6.5em; }
  .header__logoWs {
    width: 9em;
    margin-left: 43em; }
  .main__banner {
    padding-bottom: 1em; }
  .fab {
    font-size: 1.3em; }
  .fas {
    font-size: 1.3em; }
  .iconosFooter a {
    width: 47px;
    height: 42px; } }

.section__areas {
  animation: slideInLeft 5s; }

@media only screen and (min-width: 768px) {
  .section__areas {
    width: 250px;
    margin: 20px; } }

.main__form {
  width: 80%;
  font-size: 0.8em;
  padding: 1em;
  border: 1px solid #CCC;
  border-radius: 0.5em;
  box-shadow: 10px 5px 5px grey;
  background: linear-gradient(to top, #ee82ee, #5a0b49);
  color: #fff8dc; }

textarea {
  width: 24em;
  height: 7em; }

.form-control {
  font-size: 0.9em; }

#especialidad {
  font-size: 0.9em; }

.boton {
  font-size: 0.9em; }

@media only screen and (min-width: 768px) {
  label {
    display: inline; } }

.section__listaEmpresa {
  font-size: 0.85em;
  color: #a3307d; }

@media only screen and (min-width: 768px) {
  .section__listaEmpresa {
    line-height: 2.2em; } }

@media only screen and (min-width: 1024px) {
  .section__listaEmpresa {
    line-height: 2.2em; } }

iframe {
  width: 300px;
  height: 300px; }

.carousel {
  width: auto;
  margin: auto; }

.carousel-inner > .item > img {
  width: auto;
  margin: auto; }

@media only screen and (min-width: 1024px) {
  iframe {
    width: 800px;
    height: 800px; } }

.conteiner-404 {
  text-align: center;
  width: 100%;
  max-width: 950px;
  background-color: white;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);
  border-radius: 5px; }

.tituloError {
  color: black;
  animation: flash 10s;
  font-size: 1.8em; }

.imgError {
  animation: heartBeat 12s; }

.botonError {
  color: #f5c6ed;
  text-decoration: none;
  letter-spacing: 2px; }
  .botonError:hover {
    color: #e66fd2; }

@media only screen and (min-width: 1024px) {
  .imgError {
    width: 30%;
    margin-top: 1em; }
  .botonError {
    margin-top: 3em; } }
