
*{
    margin: 0;
    padding: 0;
}

body{
    font-size: 10px;
    font-family: 'Rubik', sans-serif;
    background-color: #feff75;
    word-spacing: 0px;
    width: 100vw;
    overflow-x: hidden;
}

/*titulos*/

h1{
    color: #5730a3;
    font-size: 1.3em;
    animation: flipInX 5s;
}

h2{
    font-size: 1.03em;
    color: #60219e;   
}

h3{
    font-size: 1em;
    color: #7649a3;
}

.tipoLetra{
    font-family: 'Roboto Slab', sans-serif;
}

/*párrafos*/

p{
    text-align: justify;
    color: #a3307d;
    font-size: 0.85em;
}

.section__listaEmpresa{
    font-size: 0.85em;
    color: #a3307d;
}

/*lista navegador*/

.navbar{
    background-color: #fff8dc;
}

.navbar ul li{
    padding-left: 2em;
}

.navbar li a{
    color: #5730a3;
    font-size: 0.8em;
}

.dropdown-menu{
    font-size: 1em;
}

.navbar ul a:hover{
    color: #a3307d;
    transition: pointer;
    }

/*lista footer*/

footer{
    font-size: 0.8em;
    background: radial-gradient(ellipse at bottom, #5a0b49, #feff75);
} 

.footer__avisoLegal{
    font-size: 0.8em;
}

.footer__avisoLegal__Entendido{
    font-size: 0.8em;
}

.modal-body{
    color: #000;
    text-align: justify;
    font-family: 'Roboto Mono', monospace;
}

/*imags*/

.header__logo{
    animation: shakeY 3s;
}

.header__logoWs{
    margin-left: 28em;
}

.section__areas{
    animation: slideInLeft 5s;
}

/*tabla*/

.table{
    width: 90%;
    font-size: 0.85em;
    color: #5a0b49;
}

/*Nuestras Oficinas*/

/*mapa*/

iframe{
    width: 300px;
    height: 300px;
}

/*Carousel*/

.carousel, .carousel-inner > .item > img {
    width: auto;
    margin: auto;
}  

/*card*/

.card{
    background: linear-gradient(to right, #fff8dc, #e9d527);
    border: transparent;
}

.card-text{
    color: #a3307d;
}

/*formulario*/

.main__form{
    width: 80%;
    font-size: 0.8em;
    padding: 2em;
    border: 1px solid #CCC;
    border-radius: 0.5em;
    box-shadow: 10px 5px 5px grey;    
    background: linear-gradient(to top, #ee82ee, #5a0b49);
    color: #fff8dc;
}

textarea{
    width: 24em;
    height: 7em;
}

.boton{
    font-size: 1em;
}

#especialidad{
    font-size: 1em;
}

.form-control{
    font-size: 1em;
}

/*Media Queries*/

@media only screen and (min-width: 768px){

    body{
        word-spacing: 2px;
        font-size: 16px;
    }

    h1{
        padding-top: 1em;
        padding-left: 1em;
        letter-spacing: 0.2em;
    }

    h2{
        margin-top: 1em;
    }

    p{
        line-height: 2em;
        margin-top: 1em;
    }

    .section__listaEmpresa{
        line-height: 2.2em;
    }

    footer{
        letter-spacing: 2px;       
    } 

    .card{
        width: 60%;
        height: 80%;
        margin-top: 3.5em;
    }
    
    .header__logo{
        width: 5em;
        height: 4em;
    }
    
    .header__logoWs{
        width: 3em;
        margin-left: 41em;
    }

    .section__areas{
        width: 250px;
        margin: 20px;
    }

    .section__videoLegal{
        width: 90%;
    }
    
    .main__banner{
        padding-bottom: 1em;
    }
    
    .main__form{
        width: 80%;
    }

    option{
        font-size: 0.6em;
    }

    .fab{
        font-size: 1em;
    }

    .fas{
        font-size: 1em;
    }

}

@media only screen and (min-width: 1024px){

    body{
        word-spacing: 5px;
        font-size: 20px;
    }
    
    h1{
        padding-top: 1em;
        letter-spacing: 0.2em;
    }

    p{
        line-height: 2em;
        margin-top: 1em;
    }

    .section__listaEmpresa{
        line-height: 2.2em;
    }

    .section__videoLegal{
        width: 90%;
    }

    footer{
        font-size: 0.8em;
        letter-spacing: 0.2em;
    } 
    
    .footer li a{
        letter-spacing: 8px;
    }
    
    .card{
        width: 60%;
        height: 80%;
        margin-top: 3em;
    }

    .fab{
        font-size: 1em;
    }

    .fas{
        font-size: 1em;
    }

    .header__logo{
        padding-top: 0.5em;
        width: 6em;
        height: 5.5em;
    }
    
    .header__logoWs{
        width: 5%;
        margin-left: 46em;
    }

    .main__banner{
        padding-bottom: 1em;
    }

    .section__videoLegal{ 
        padding-top: 1em;
        padding-bottom: 1em;
    }

    iframe{
        width: 800px;
        height: 800px;
    }

    #especialidad{
        font-size: 0.9em;
    }
    
}